
:root {
    --font-poppins: 'Poppins', sans-serif;
    --font-weight-light: 200;
    --font-weight-normal: 400;
    --font-weight-bold: 600;
    --text-dark: hsl(234, 12%, 34%);
    --text-light: hsl(229, 6%, 66%);
    --color-cyan: hsl(180, 62%, 55%);
    --color-red: hsl(0, 78%, 62%);
    --color-orange: hsl(34, 97%, 64%);
    --color-blue: hsl(212, 86%, 64%);
}

body {
    font-family: var(--font-poppins);
    font-size: 15px;
}

p {
    line-height: 1.5rem;
}

header {
    padding: 10px 20px 20px 20px;
    width: 22rem;
    margin: 0 auto;
}

header h1 {
    font-size: 1.75rem;
    font-weight: var(--font-weight-bold);
    color: var(--text-dark);
    text-align: center;
    margin-top: -1rem;
}

header h2 {
    font-size: 1.75rem;
    font-weight: var(--font-weight-light);
    color: var(--text-light);
    text-align: center;
}

header p {
    font-weight: var(--font-weight-normal);
    color: var(--text-light);
    text-align: center;
    margin-top: -0.5rem;
}

/* CARD */

.card {
    position: relative;
    width: 21rem;
    height: 300px;
    margin: 40px auto;
    border-radius: 3.5%;
    box-shadow: 0 10px 30px var(--text-light), 0 6px 6px var(--color-blue); 
}

.card h3 {
    padding: 2.5rem 2rem 0 2rem;
    color: var(--text-dark);
    font-weight: var(--font-weight-bold);
}

.card p {
    padding: 0 2rem;
    font-weight: var(--font-weight-normal);
    color: var(--text-light);
}

.card svg {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
}

#supervisor-card {
    border-top: 5px solid var(--color-cyan);
}

#team-builder-card {
    border-top: 5px solid var(--color-red);
}

#karma-card {
    border-top: 5px solid var(--color-orange);
}

#calculator-card {
    border-top: 5px solid var(--color-blue);
}