/********************************/
        /* IMPORTS */
/********************************/

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/********************************/
  /* VARIABLES AND FONT STYLES */
/********************************/

:root {

    /* Colors */
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --grey-500: hsl(234, 12%, 34%);
    --grey-400: hsl(212, 6%, 44%);
    --white: hsl(0, 0%, 100%);

    /* Spacing */
    --spacing-500: 40px;
    --spacing-400: 32px;
    --spacing-300: 24px;
    --spacing-200: 16px;
    --spacing-100: 8px;
}

html {
    font-size: 16px;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* FONT STYLES */

.text-preset-1 {
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    font-weight: 600;
    font-style: normal;
    line-height: 140%;
    letter-spacing: 0.25px;
}

.text-preset-2 {
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    font-weight: 275;
    font-style: normal;
    line-height: 140%;
    letter-spacing: 0.25px;
}

.text-preset-3 {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    line-height: 135%;
    letter-spacing: 0px;
}

.text-preset-4 {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    line-height: 140%;
    letter-spacing: 0.104px;
}

.text-preset-5 {
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    line-height: 160%;
    letter-spacing: 0.09px;
}


/********************************/
        /* MAIN STYLES */
/********************************/

body {
    display: flex;
    /* padding: 56px 30px 46px 29px; */
    padding-top: 56px;
    padding-bottom: 46px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    background: #fafafa;
}

/* HEADER */

.main-header {
    display: flex;
    width: 316px;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-200);
    color: var(--grey-500);
}

.title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
}

.title-copy, .title-heading {
    margin: 0px;
    font-size: 24px;
    align-self: stretch;
    text-align: center;
}

.main-header-copy {
    text-align: center;
    align-self: stretch;
}

.tablet-container {
    display: contents;
}

/* CARD WRAPPER */

.card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-400);
}

.card-content-container {
    display: flex;
    height: 250px;
    padding: var(--spacing-400);
    flex-direction: column;
    align-items: flex-end;
    gap: var(--spacing-400);
    border-radius: var(--spacing-100);
    background-color: var(--white);
    box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.50);
}

.supervisor-card {
    border-top: 4px solid var(--cyan);
}

.team-builder-card {
    border-top: 4px solid var(--red);
}

.karma-card {
    border-top: 4px solid var(--orange);
}

.calculator-card {
    border-top: 4px solid var(--blue);
}

.card-title-wrapper {
    display: flex;
    width: 250px;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

.card-content-heading {
    margin: 0px;
    color: var(--grey-500);
    align-self: stretch;
}

.card-copy {
    margin: 0px;
    color: var(--grey-400);
    align-self: stretch;
}
.card-icon {
    height: 64px;
    width: 64px;
    flex-shrink: 0;
}

.supervisor-icon {
    background-image: url(../images/icon-supervisor.svg);
}

.team-builder-icon {
    background-image: url(../images/icon-team-builder.svg);
}

.karma-icon {
    background-image: url(../images/icon-karma.svg);
}

.calculator-icon {
    background-image: url(../images/icon-calculator.svg);
}

/********************************/
        /* MEDIA QUERIES */
/********************************/

/* Tablet 768px */

@media screen and (min-width: 768px) {

    body {
        gap: 74px;
        padding-top: 102px;
        padding-bottom: 102px;
    }

    .main-header {
        width: 540px;
    }

    .title-copy, .title-heading {
        font-size: 36px;
    }

    .tablet-container {
        display: flex;
        gap: var(--spacing-400);
    }

}

/* Desktop */
@media screen and (min-width: 1240px) {

    .card-wrapper {
        height: 532px;
        flex-direction: row;
    }

    .tablet-container {
        flex-direction: column;
    }


}